
.title {
  font-weight: 500;
  color:blueviolet;
  margin-top:48px;
  
}

.input-text{
  width:500px;
  
}

.navcustom{
    width: 100%;
    height:70px;
    background: #d3d3d3;
    top:0px;
    position:fixed;
    left:0;
}
.link{
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.nav-link{
    color:black;
    text-decoration: none;
}

.h-title{
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}